$white: #FFFFFF;
$black: #000000;
$silver: #DDDDDD;
$silver-light: #F5F7F9;
$text-color: #566B78;

$indigo: #536dc8;
$danube: #6191d1;
$bermuda: #77D7B9;

header {
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  // border-bottom: solid 1px rgba(144, 144, 144, 0.2);
  background-color: white;
  // box-shadow: 0 1px 0 0 #ffffff;
  z-index: 1001;

  .header-content {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;

    a {
      z-index: 10;
    }

    .mobile_nav {

      .overlayClose {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
      }

      .example-enter {
        opacity: 0.01;
      }
      
      .example-enter.example-enter-active {
        opacity: 1;
        transition: opacity 200ms ease-in;
      }
      
      .example-leave {
        opacity: 1;
      }
      
      .example-leave.example-leave-active {
        opacity: 0.01;
        transition: opacity 200ms ease-in;
      }

      .menu-icon-toggle {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 9;
        .home & {
          top: 50px;
          position: absolute;
          right: 20px;
          top: 20px;
        }
        span {
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          top: 50%;
          background-color: $black;
          transform: translate(0, -50%);
          transition: opacity 0.3s 0.3s;
          .home:not(.open) & {
            background-color: $black;
          }
        }
        &::before,
        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          background-color: $black;
          transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s;
        }
        &::before {
          top: 6px;
        }
        &::after {
          bottom: 6px;
        }
      }


    }
  
    img {
      height: auto;
      width: 15em;

      @media(max-width: 1199px) {
        & {
          width: 15em;
        }
      }
    }
  
    @media(max-width: 767px) {
      & {
        padding: 1em 0;
      }
    }
  
      h1 {
        margin: 0;
  
        @media(max-width: 767px) {
          margin-top: 0.5em;
        }
      }
  
      .header-contact {
        h1 {
          color: #50423d;
          font-size: 1.5em;

          @media(max-width: 1199px) {
            & {
              font-size: 1.3em;
            }
          }
        }
  
        p {
          color: #50423d;
        }

        @media (max-width: 767px) {
          & {
            display: none;
          }
        }
      }
  
      //7a220f
      //4d1410
  
      .toolbar-links {
      margin: 2rem 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      list-style: none;

      .example-enter {
        opacity: 0.01;
      }
      
      .example-enter.example-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
      }
      
      .example-leave {
        opacity: 1;
      }
      
      .example-leave.example-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
      }
  
      @media(max-width: 767px) {
        & {
          position: absolute;
          width: 100%;
          height: 10em;
          margin: 0;
          left: 0;
          top: 5.5em;
          flex-direction: column;
          align-items: center;
          background: white;
          justify-content: space-around;
          -webkit-box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.3);
          -moz-box-shadow:    0px 4px 15px 0px rgba(50, 50, 50, 0.3);
          box-shadow:         0px 4px 15px 0px rgba(50, 50, 50, 0.3);
          transition: all 2s ease-in;
          z-index: 10;
        }
      }
  
      @media(max-width: 413px) {
        & {
          flex-direction: column;
          align-items: center;
        }
      }
  
              a {
                  display: flex;
                  display: -webkit-flex;
                  margin: 0 1rem;
                  padding: 1em 2em;
                  color: #8d7361;
                  font-size: 0.8em;
                  letter-spacing: 0.2em;
                  text-decoration: none;
                  transition: none 200ms;
                  font-weight: bold;
                  text-decoration: none;
                  text-transform: uppercase;
                  display: flex;
                  align-items: flex-start;
                  -ms-user-select: none; 
                  -moz-user-select: none; 
                  -webkit-user-select: none; 
                  user-select: none; 

                  @media(max-width: 1199px) {
                    font-size: 0.6em;
                  }
  
                  @media(max-width: 991px) {
                    & {
                      padding: 0;
                    }
                  }
  
                  @media(max-width: 767px) {
                    & {
                      margin: 0;
                    }
                  }
  
                  @media(max-width: 413px) {
                    & {
                      margin: 0.5em;
                    }
                  }
  
                  &:hover {
                    text-decoration: underline;
                  }
              }
      }
  }
}