$white: #FFFFFF;
$black: #000000;
$silver: #DDDDDD;
$silver-light: #F5F7F9;
$text-color: #566B78;

.header-content {

  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;

  @media(max-width: 767px) {
    & {
      flex-direction: column;
      padding: 1em 0;
    }
  }

    h1 {
      margin: 0;

      @media(max-width: 767px) {
        margin-top: 0.5em;
      }
    }

    .header-contact {
      h1 {
        color: #ab5a35;
        font-size: 1.5em;
      }

      p {
        color: gray
      }
    }

    .toolbar-links {
    margin: 2rem 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;

    @media(max-width: 767px) {
      & {
        width: 100%;
        justify-content: space-around;
      }
    }

    @media(max-width: 413px) {
      & {
        flex-direction: column;
      }
    }

        li {
            a {
                margin: 0 1rem;
                padding: 1em 2em;
                color: #ab5a35;
                text-decoration: none;
                text-transform: uppercase;
                display: flex;
                align-items: flex-start;

                @media(max-width: 991px) {
                  & {
                    padding: 0;
                  }
                }

                @media(max-width: 767px) {
                  & {
                    margin: 0;
                  }
                }

                @media(max-width: 413px) {
                  & {
                    margin: 0.5em;
                  }
                }

                &:hover {
                  text-decoration: underline;
                }
            }
        }
    }
}

header {
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  // position: absolute;
  width: 100%;
  border-bottom: 1px solid #14272d;
  background-color: white;
  
  h1 {
    color: #341918;
    font-size: 2em;
  }
  
  a {
    color: #ab5a35;
    border-radius: 4px;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    text-decoration: none;
    transition: none 200ms;

    @media(max-width: 767px) {
      & {
        padding: 1em;
      }
    }
  }
}

.tab--active {
    text-decoration: none;
}


h1, h2, strong {
  color: #333;
}