$white: #FFFFFF;
$black: #000000;
$silver: #DDDDDD;
$silver-light: #F5F7F9;
$text-color: #566B78;

.header-content {

  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;

  @media(max-width: 767px) {
    & {
      flex-direction: column;
    }
  }

    .toolbar-links {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;

    @media(max-width: 767px) {
      & {
        width: 100%;
        justify-content: space-around;
      }
    }

    @media(max-width: 413px) {
      & {
        flex-direction: column;
      }
    }

        li {
            a {
                margin: 0 1rem;
                color: $black;
                text-decoration: none;
                text-transform: uppercase;
                display: flex;
                align-items: flex-start;

                @media(max-width: 767px) {
                  & {
                    margin: 0;
                  }
                }

                @media(max-width: 413px) {
                  & {
                    margin: 0.5em;
                  }
                }
            }
        }
    }
}

header {
  line-height: 1.2;
  text-align: center;
  margin:0 auto;
  box-sizing:border-box;
  
  h1 {
    color: $black;
    font-size: 2em;
  }
  
  a {
    border: 2px solid $black;
    color: $black;
    border-radius: 4px;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms;
    transition-property: color, background, border;

    @media(max-width: 767px) {
      & {
        padding: 1em;
      }
    }
    
    &:hover {
      border-color: red;
    }
  }
}

.tab--active {
    border-bottom: 2px solid red;
    text-decoration: none;
}


h1, h2, strong {
  color: #333;
}

.container {
  margin: 0 auto;
  max-width: 50em;
}
