.slick-slide:active, .slick-slide:focus {
    outline: none;
  }
  .slick-slide::-moz-focus-inner {
    border: 0;
  }

.slider-block {
    .slider-content {
        padding: 3em 0;
        cursor: move;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        outline-width: 0;
        outline: none;

        .slider-text {
            padding: 0 1em;

            h1 {
                color: #2e2e2e;
                font-size: 2em;
                margin: 0;
                margin-bottom: 0.5em;
                text-align: center;
            }
    
            p {
                line-height: 2;
                color: gray;
                text-align: center;
                font-size: 1.4em;
                
            }
        }
    }
}