.slider__slide{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    width: 100%;
    position: absolute;
    transition: all 0.8s ease-in-out;
    
    &[data-active="true"]{
      opacity:1
    }
  }
  
  .slider__slide__text{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 20px;
    left: 20px;
    padding: 20px;
    text-transform: uppercase;
    color: white;
    font-weight:bold
  }
  
  #slider {
    position: relative;
    overflow: hidden;
    height: 20vw;
    padding: 0;

    @media(max-width: 992px) {
      & {
        height: 35vw;
      }
    }

    @media(max-width: 767px) {
      & {
        height: 50vw;
      }
    }
  }
  
  .leftArrow {
    bottom:20px;
    left:20px;
    position:absolute;
    z-index: 200;
    transition:all 0.2s ease-in-out;
    width: 128px;
    height: auto;
    cursor: pointer;

    svg {
      fill: rgba(160, 192, 255, 1);
      transition:all 0.2s ease-in-out;

      &:hover{
        fill: rgba(160,192,255,0.5);
        transform: scale(1.1);
      }
    }
  }
  
  .rightArrow{
    
    bottom:20px;
    right:20px;    
    position: absolute;
    z-index: 200;
    transition:all 0.2s ease-in-out;
    width: 128px;
    height: auto;
    cursor: pointer;

    svg {
      fill: rgba(160, 192, 255, 1);
      transition:all 0.2s ease-in-out;

      &:hover{
        fill: rgba(160,192,255,0.5);
        transform: scale(1.1);
      }
    }
  }